################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/DepthSensingCUDA/.vs/DepthSensing/v16
/DepthSensingCUDA/CompiledShaders
/DepthSensingCUDA/Scans
/DepthSensingCUDA/x64
*.bmp
/DepthSensingCUDA/.vs/DepthSensing/v15
/Mapping/x64/Release
